.dashboard {
  background-color: antiquewhite;
  height: auto;
  margin-top: 100px;

  width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(72, 82, 82, 0.747);
  border-radius: 5px;
  border: 1px solid rgb(250, 247, 247);
  box-shadow: -5px 5px 5px rgba(180, 180, 180, 0.363);
}

.nameSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgba(235, 206, 206, 0.548);
  box-sizing: border-box;
  border-radius: 5px;
}

.nameSearchText {
  width: 100%;
  border: none;
  padding: 3px;
}

.search {
  cursor: pointer;
}

.cardMain {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 20rem;
  box-sizing: border-box;

  background-color: rgba(72, 82, 82, 0.747);
  border-radius: 5px;
  border: 1px solid rgb(250, 247, 247);
  box-shadow: -5px 5px 5px rgba(180, 180, 180, 0.363);
}
