* {
  padding: auto;
  margin: 0;
}

body {
  color: white;
}

.navbar {
  background-color: rgb(60, 60, 77);
  box-sizing: border-box;
}

.nav-link {
  color: white;
  font-weight: bolder;
}

.form form {
  margin-top: 10rem;
  padding: 2rem 1rem;
  width: 400px;
  color: white;
  font-weight: bolder;
  font-size: 23px;
  background-color: rgba(72, 82, 82, 0.747);
  border-radius: 5px;
  border: 1px solid rgb(250, 247, 247);
  box-shadow: -5px 5px 5px rgba(180, 180, 180, 0.363);
  margin-bottom: 10px;
}

.mainLayout {
  min-height: 100vh;
  background-color: rgb(179, 166, 166);
  background-image: url(./assets/superheroes.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

.dashboardPage {
  min-height: 100vh;
  width: 100%;
  /* background-color: aqua; */
  background-image: url(./assets/photo.jpg);
}

.customCard {
  color: black;

  /* height: auto; */
}

.CardImage {
  height: 300px;
}

.link {
  cursor: pointer;
}

.model {
  color: black;
}

.favCard {
  display: flex;
  min-height: 500px;
}
